*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 17px;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: rgb(204, 56, 56);
}

ul li a{
    color:rgb(105, 104, 104);

}
/* navbar */
.navbar{
    display: flex;
    min-height:20px;
    height: 55px;
    justify-content: space-between;
    background-color: white;
}

.navbar-menu{
    display: flex;
    justify-content: center;
    
    width: 100%;
    justify-content: flex-end;
}

.navbar-menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: auto;
    margin-right: 2%;
}

.navbar-menu li{
    display: inline;
    margin: 15px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: rgb(44, 44, 44);
}

.navbar-menu li:hover{
    color:rgb(211, 76, 76);
}

/* MAIN */

main{
    background-color: teal;
    display: flex;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}