@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?qp76xo');
    src:  url('fonts/icomoon.eot?qp76xo#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?qp76xo') format('truetype'),
        url('./fonts/icomoon.woff?qp76xo') format('woff'),
        url('./fonts/icomoon.svg?qp76xo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
    content: "\e903";
}
.icon-instagram:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e906";
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 17px;
    font-family: 'Cabin', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: rgb(204, 56, 56);
}

ul li a{
    color:rgb(105, 104, 104);

}
/* -------------------- NAVBAR ------------------- */
.navbar{
    display: flex;
    min-height:20px;
    height: 45px;
    justify-content: space-between;
    background-color: black;
}

.navbar-brand{
    display: flex;
    position: relative;
    background-color: rgb(225, 65, 65);
    width: 200px;
    height: 230px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    
}

.navbar-menu{
    display: flex;
    justify-content: center;
    
    width: 450px;
    justify-content: space-evenly;
}

.navbar-menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: auto;
}

.navbar-menu li{
    display: inline;
    margin: 15px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: rgb(255, 255, 255);
}

.navbar-menu li:hover{
    color:rgb(211, 76, 76);
}

/* -------------------- MAIN ------------------- */
.main{
    position: relative;
    background-image: url("./img/driver.jpg");
    background-size: cover;
    height: 100vh;
    width: auto;
    z-index: 2;
}

.introduction{
    display: flex;
    position: relative;
    background-color: white;
    font-size: 2rem;
    height: 200px;
    min-width: 300px;
    width: 400px;
    margin-left: 10px;
    margin-top: 270px;
    padding: 30px;
    align-items: center;
}

.main-presentation{
    position: absolute;
    width: 50px;
    height: auto;
    margin-top: 250px;
    right: 0;
}

.main-presentation ul li{
    display: flex;
    font-size: 25px;
    color: whitesmoke;
    background-color: rgb(204, 56, 56);
    text-align: center;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.main-presentation ul li:hover{
    color: rgb(204, 56, 56);
    background-color:whitesmoke ;
}

/* ------------------------- USER-TYPES ------------------------- */

.user-types{
    background-color: rgb(230, 230, 230);
    width: auto;
    min-height: 470px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: stretch;
    padding: 30px;    
    justify-content: center;
    text-align: center;
}

.user-types h1{
    position: absolute;
    padding-top: 30px;
    font-family: 'Cabin', sans-serif;
    font-size: 2.3em;
    width: 100%;
}

.user-types-driver{
    background-image: url("./img/car.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -6px 0px 20px 0px rgba(0, 0, 0, 0.144);
    padding-top: 150px;
    font-size: 1.7em;
}

.user-types-driver span{
    padding-top: 170px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.user-types-user{
    display: flex;
    background-image: url("./img/boxes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;  
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.164);
    font-size: 1.7em;
    justify-content: space-between;
    align-items: stretch;
    
}

.user-types-user span{
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.644);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.user-types button{
    position: absolute;
    background-color: rgb(204, 56, 56);
    color: whitesmoke;
    margin-top: 380px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 0;
}

.user-types button:hover{
    font-weight: bold;
}

/* ------------------------- HEALTH ------------------------- */

.fleets-pandemia{
    background-color: rgb(230, 230, 230);
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    padding: 30px;    
    justify-content: space-around;
}

.fleets-pandemia div{
    height: 550px;
    width: 500px;
    margin: 30px;
    padding: 30px;
    text-align: justify;
    font-size: 1.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.fleets-pandemia div span a{
    color: rgb(204, 56, 56);
}

.fleets-pandemia div span a:hover{
    color: rgb(199, 113, 79);
}


.img-corona{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-corona img{
    width: auto;
}

.company{
    background-color: rgb(31, 30, 30);
    width: auto;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.company div{
    display: flex;
    min-width: 25%;
    padding: 3%;
    text-align: justify;
    font-size: 1em;
    color: rgb(128, 126, 126);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company div ul li{
    margin: 7px;
}

.contacto p{
    margin: 30px;
    text-align: center;
}

.redes ul{
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.redes ul li{display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    background-color:black ;
    width: auto;
    min-height: 60px;
    color: rgb(105, 104, 104);
    align-items: center;
    justify-content: center;
    
}